@model IEnumerable<OLAP.Models.Водители>

@{
    ViewBag.Title = "Управление водителями";
}

<div class="but_div">
    @Html.ActionLink("Добавить водителя", " ", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
    @Html.ActionLink("Вернуться обратно", "Managment", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
</div>

<div class="table_div">
    <table rules="all" class="table_price">
        <caption>Просмотр данных по водителям</caption>
        <tr>
            <th>
                Водитель №)
            </th>
            <th>
                ФИО
            </th>
            <th>
                Мобильный телефон
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ВодительID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ФИО)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.МобТелефон)
                </td>
                <td>
                    @Html.ActionLink("Изменить", " ", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Детали", " ", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Удалить", " ", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</div>