@model IEnumerable<OLAP.Models.Заказы>

@{
    ViewBag.Title = "Логистическая служба";
}

<div class="but_div">
    @Html.ActionLink("Добавить заказ", "AddOrder", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
    @Html.ActionLink("Управление клиентами", "ClientsControl", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
    @Html.ActionLink("Управление водителями", "DriversControl", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
    @Html.ActionLink("Управление ТС", "VihecleControl", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
    @Html.ActionLink("Управление складом", "WarehouseControl", routeValues: null, htmlAttributes: new { @class = "btn mb1 black bg-gray", @role = "button" })
</div>

<div class="table_div">
    <table rules="all" class="table_price">
        <caption>Заказы</caption>
        <tr>
            <th>
                Заказ №
            </th>
            <th>
                Срок Поставки
            </th>
            <th>
                Дата заказа
            </th>
            <th>
                Клиент
            </th>
            <th>
                Место назначения
            </th>
            <th>
                Состояние заказа
            </th>
            <th>
                Дата доставки
            </th>
            <th>
                Транспортн. средство
            </th>
            <th>
                Водитель
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ЗаказID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.СрокПоставки)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ДатаЗаказа)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.КлиентID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.МестоНазначения)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.СостояниеID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ДатаДоставки)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ТрСредствоID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ВодительID)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { ЗаказID = item.ЗаказID })
                    @Html.ActionLink("Детали", "DetailsOrder", new { ЗаказID = item.ЗаказID, })
                    @Html.ActionLink("Удалить", "Delete", new { ЗаказID = item.ЗаказID })
                </td>
            </tr>
        }

    </table>


</div>