<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - OLAP</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
</head>
<body>
    <div class="navbar navbar-inverse" id="nav">
        <div class="navbar-inner">
            <ul class="nav">
                <li id="ManageNav">
                    <a href="@Url.Action("Manage", "Home") "><img class="navImages" src="@Url.Content("~/Content/Images/gear.png")">Управление данными</a>
                </li>
                <li id="CubeNav">
                    <a href="@Url.Action("Index", "Home")"><img class="navImages" src="@Url.Content("~/Content/Images/cube.png")">OLAP анализ</a>
                </li>
                <li id="LogNav">
                    <a href="@Url.Action("Managment", "Logistic")"><img class="navImages" src="@Url.Content("~/Content/Images/logistic.png")">Служба логистики</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="Content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>